# Ignore OpenGL libs
/C/**/opengl/include/** linguist-detectable=false
/C/**/opengl/glad.c linguist-detectable=false

# Don't detect simple-lib.asm multiple times for GitHub's language detection
/Assembly/**/asmtutor/**/simple-lib.asm linguist-detectable=false
