# Misc
/C/**/mandelbrots/
/C/**/*.wav

# Ada
*.ali
/Ada/**/obj/*

# Lisp
*.FASL
*.fasl
*.lisp-temp
*.dfsl
*.pfsl
*.d64fsl
*.p64fsl
*.lx64fsl
*.lx32fsl
*.dx64fsl
*.dx32fsl
*.fx64fsl
*.fx32fsl
*.sx64fsl
*.sx32fsl
*.wx64fsl
*.wx32fsl

# LaTeX
*.log
/LaTeX/**/*.4ct
/LaTeX/**/*.4tc
/LaTeX/**/*.aux
/LaTeX/**/*.css
/LaTeX/**/*.dvi
/LaTeX/**/*.html
/LaTeX/**/*.idv
/LaTeX/**/*.lg
/LaTeX/**/*.tmp
/LaTeX/**/*.xref
/LaTeX/**/*.png
/LaTeX/**/*.pdf
/LaTeX/**/*.toc

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
